* {
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0.5em;
}

body {
  background-color: #ffffff;
}

.logo {
  margin-top: 3em;
  height: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vid-container {
  background-color: #e3d5ca;
  height: 500px;
}

.vid-placement {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.vid {
  margin: 50px;
  height: 400px;
}

.btn a {
  margin: 0.7em;
  background-color: #554841;
  padding: 0.6em;
  border-radius: 1em;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.rowone {
  display: flex;
}

.rowtwo {
  margin-left: 0.5em;
  margin-right: auto;
}

.btn-rows {
  display: flex;
}

.social {
  margin-top: 16.5%;
  height: 40px;
  display: block;
}

@media (max-width: 767px) {
}
/*
Sort #010101
MÃ¸rkebrun #554841
Brass #9D603B
Beige #E3D5CA
Hvid #FFFFFF
*/
