* {
  list-style: none;
  text-decoration: none;
  font-family: "Playfair Display";
  line-height: 1em;
}

body {
  background-image: url("./images/background-contrast.jpg");
  background-size: cover;
}

/* FIRST PAGE - MUSIC VIDEO */

.logo {
  margin-top: 2em;
  height: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fade-in {
  -webkit-animation: flicking 8s;
  -webkit-animation-iteration-count: infinite;
  animation: flicking 8s infinity;
  animation-iteration-count: infinite;
}
@keyframes flicking {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.vid-container {
  background-color: rgba(227, 213, 202, 0.6);
  height: 530px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #554841;
}

.vid-placement {
  width: 63%;
  margin-left: auto;
  margin-right: auto;
}

.vid {
  margin: 60px;
  height: 400px;
  border: 5px solid #554841;
}

.social {
  margin-bottom: 1.5em;
  margin-right: 2.5em;
}

.icon {
  float: right;
  height: 40px;
  background-color: #ffffff;
  padding: 0.2em;
  border-radius: 0.5em;
  color: #554841;
  border: 2px solid #554841;
  margin-right: 0.5em;
}

.display-flex {
  display: flex;
}

.btn a {
  margin: 0.7em;
  background-color: #ffffff;
  padding: 0.6em;
  border-radius: 1em;
  color: #554841;
  border: 2px solid #554841;
}

.btn,
.icon {
  transition: all 0.2s ease-in-out;
}
.btn:hover,
.icon:hover {
  transform: scale(1.1);
}

.btn-rows {
  display: flex;
  width: 36%;
  margin: 0 auto;
  margin-top: -0.4em;
}

.rowone {
  display: flex;
}

.btn-logo {
  height: 15px;
  margin-bottom: -0.15em;
}

.rowtwo {
  display: flex;
  margin-left: 0.5em;
  margin-right: auto;
}

.book {
  margin-left: 0.1em;
  height: 18px;
}

.up {
  margin-top: -0.1em;
}

/* SECOND PAGE - BAND INTRO */

.band-container {
  background-color: rgba(85, 72, 65, 0.8);
  height: 530px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #554841;
  margin-top: 4.7em;
}

.band-intro {
  text-align: center;
  color: #e3d5ca;
  margin: 1em;
}
.h1-logo {
  height: 100px;
  margin: 1em;
}

.profiles {
  display: flex;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.aske,
.frederikke,
.oscar {
  margin: 1em;
  margin-top: -1.5em;
  height: 330px;
}

.bio {
  display: flex;
  position: relative;
}

.img-description {
  height: 300px;
  width: 196px;
  color: #e3d5ca;
  position: absolute;
  padding: 1.5em 1em;
  line-height: 1.5em;
  text-align: center;
  top: -3em;
  bottom: 0;
  left: 1.3em;
  right: 0;
  background: rgba(85, 72, 65, 0.7);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease;
  font-size: 12px;
}

.bio:hover .img-description {
  visibility: visible;
  opacity: 1;
}

/* THIRD PAGE - BOOKING INFO */

.book-container {
  background-color: rgba(227, 213, 202, 0.6);
  height: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #554841;
  text-align: center;
}

.book-container p {
  color: #554841;
}

.book-intro {
  color: #554841;
}

@media (max-width: 767px) {
  .vid-placement {
    width: 75%;
  }

  .vid {
    margin: 90px 0px;
    height: 300px;
  }

  .btn-rows {
    width: 70%;
    margin-top: 0.5em;
  }

  .up {
    margin-top: -0.1em;
  }

  .band-container {
    height: 530px;
    width: 95%;
  }

  .profiles {
    display: flex;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }

  .book-container {
    width: 95%;
  }
}
@media (max-width: 375px) {
  .social {
    margin-right: 1em;
  }

  .vid-container {
    height: 420px;
  }

  .vid-placement {
    width: 95%;
  }

  .vid {
    margin: 90px 0px;
    height: 175px;
  }

  .btn-rows {
    width: 75%;
    margin-top: -5.7em;
  }

  .rowone {
    display: block;
  }

  .rowtwo {
    display: block;
  }

  .btn {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .up {
    margin-top: -0.1em;
  }

  .band-container {
    height: 800px;
    width: 95%;
  }

  .h1-logo {
    height: 70px;
    margin: 0;
  }

  .profiles {
    display: block;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
  }

  .aske,
  .frederikke,
  .oscar {
    margin: 2em;
    margin-top: -1.5em;
    height: 220px;
  }

  .img-description {
    height: 200px;
    width: 125px;
    font-size: 12px;
    line-height: 2em;
    text-align: center;
    top: -3em;
    bottom: 0;
    left: 2.65em;
    right: 0;
  }

  .book-container {
    width: 95%;
  }
}
